flexbox {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #1d1d1c;
    font: white;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

header {
    width: 100%;
    background-image: linear-gradient();

}

h1 {
    color: blueviolet;
    font-size: 60px;
    font-style: oblique;
    font-weight: 900;
}

.hero {
    height: 0.2vh;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("images/bandcrowd.jpg");
    background-size: cover;
    background-position: center;
    z-index: -10;
    position: relative;

}

.logo {
    height: 50px;
    width: 50px;
    display: block;
    margin-bottom: 0 auto;


}

.leftSide {
    border: solid black 3px;
    width: 49%;
}

.rightSide {
    border: solid pink 3px;
    width: 49%;
}

.content {
    border: solid gold 3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 36px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
}

nav {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
}

.logo {
    display: block;
}

@media (max-width: 600px) {
    .logo {
        display: none;
    }
}

.modal {
    display: none;
    /* hide the modal by default */
    position: fixed;
    /* position the modal in the center of the screen */
    z-index: 1;
    /* set the z-index to be higher than other elements on the page */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

#modalBtn {
    display: none;
}

#spotlightAvi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left: auto;
}